<br />
<br />
<div class='container'>
    <div class='row justify-content-center'>
        <div class='col-md-10'>
            <div class='chat-container'>
                <h1>Centro de mensjes</h1>
                <form class='form-input'>
                    <input class='input-email' id="email" type='text' placeholder='Ingrese su correo' required />
                </form>
                <div class='text-area'>
                    <div id="textarea" aria-readonly="true"></div>
                </div>
                <form class='form-input'>
                    <input class='input-text' id="msg" type='text' placeholder='Ingrese algun comentario' />
                    <button class='btn btn-primary btn-sm login-button' type="button"
                        onclick="sendMessage()">Enviar</button>
                </form>
            </div>
        </div>
    </div>
</div>>