<br />
<br />
<div class='container'>
	<div class='row justify-content-center'>
		<div class='col-md-8'>
			<div class='card'>
				<div class='card-header title'><h2>Registro de producto</h2></div>
				<div class='card-body'>
					<form class='form-horizontal' method='POST' action='/api/producto/guardar'>
						<div class='form-group'>
							<label for='name' class='cols-sm-2 control-label'>Name</label>
							<div class='cols-sm-10'>
								<div class='input-group'>
									<span class='input-group-addon'><i class='fa fa-user fa' aria-hidden='true'></i></span>
									<input type='text' class='form-control' name='title' id='title' placeholder='Enter Name' />
								</div>
							</div>
						</div>
						<div class='form-group'>
							<label for='email' class='cols-sm-2 control-label'>Price</label>
							<div class='cols-sm-10'>
								<div class='input-group'>
									<span class='input-group-addon'><i class='fa fa-envelope fa' aria-hidden='true'></i></span>
									<input
										type='number'
										class='form-control'
										name='price'
										id='price'
										placeholder='Enter Price'
									/>
								</div>
							</div>
						</div>
						<div class='form-group'>
							<label for='email' class='cols-sm-2 control-label'>Image</label>
							<div class='cols-sm-10'>
								<div class='input-group'>
									<span class='input-group-addon'><i class='fa fa-envelope fa' aria-hidden='true'></i></span>
									<input
										type='text'
										class='form-control'
										name='thumbnail'
										id='thumbnail'
										placeholder='Enter link'
										required
									/>
								</div>
							</div>
						</div>
						<div class='form-group'>
							<button type='submit' class='btn btn-primary btn-lg btn-block login-button'>Register</button>
						</div>
					</form>
				</div>
			</div>
			<br />
			<form class='form-horizontal'>
				<div class='form-group'>
					<button
						class='btn btn-primary btn-lg btn-block login-button'
						type='button'
						onClick="location.href='http://localhost:8080/api/producto/lista'"
					>
						Lista de productos
					</button>
				</div>
			</form>
		</div>
	</div>
</div>
<br />
<br />